<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Payments Fraud Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/predict">Predict</a>
    </div>

    <div class="center-text">
        <h1>Online Payments Fraud Detection</h1>
        <p>
            The objective of this article is to predict online payments fraud given the various parameters.
            This will be a classification problem since the target or dependent variable is the fraud (categorical values).
            The purpose of fraud detection in online payments is to separate the available supply of potable online payments
            into classes differing in superiority. We will be using classification algorithms such as Decision Tree,
            Random Forest, SVM, and Extra Tree Classifier. We will train and test the data with these algorithms.
        </p>
    </div>
</body>
</html>
